.container-3{
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: center;
}
.skills{
    margin-top: 2rem;
    background-color: rgba(255, 255, 255, 0.2);
    width: 54vw;
    border-radius: 24px;
    padding: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    backdrop-filter: blur(10px);
}
.skills h3{
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-image: linear-gradient(360deg, rgba(4, 74, 102, 0.1), rgba(135, 206, 235, 0.1));
    box-shadow: 0.3px 0.3px 2px rgba(255, 255, 255,1);
    width: 100px;
    padding: 0.6rem 1.4rem;
    border-radius: 4px;
    text-align: center;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
}
.col{
    text-align: center;
}
.round{
    position: relative;
    margin-top: 30px;
}
strong{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.skill-name{
    text-align: center;
    letter-spacing:1px;
    padding: 8px 15px;
    position: relative;
    border: 0.2px solid rgb(96, 200, 248);
    font-size: 1rem;
    margin: 0.5rem;
}
.skill-name::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s;
    width: 10%;
    height: 20%;
    border-top: 1.6px solid rgb(96, 200, 248);
    border-left: 1.6px solid rgb(96, 200, 248);
}
.skill-name:hover:before,
.skill-name:hover:after
{
    width: 105%;
    height: 105%;
}
.skill-name::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    transition: 0.3s;
    width: 10%;
    height: 20%;
    border-bottom: 1.6px solid rgb(96, 200, 248);
    border-right: 1.6px solid rgb(96, 200, 248);
}
.skills:hover .skill-name{
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
      
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #bfe971, 0 0 2px #f5bfda, 0 0 2px #eec6da, 0 0 1px #fcb1d7, 0 0 1px #f8a1cd;
    }
    to {
      text-shadow: 0 0 1px #fff, 0 0 1px #ac9bf8, 0 0 1px #fcaed5, 0 0 1px #4dc7ff, 0 0 1px #8688f8, 0 0 1px #a19cf0, 0 0 1px #8abdf7;
    }
  }

@media (max-width: 1024px) {
    .skills{
        width: 640px;
    }
    .lang{
        width: 350px;
    }
    .lang-width{
        width: 50px;
        height: 50px;
    }
}
@media (max-width: 768px){
    .skills{
        width: 470px;
    }
}
@media (max-width: 600px) {
    .skills{
        width: 320px;
    }
    .lang{
        width: 230px;
    }
    .skills h2{
        font-size: 1.1rem;
    }
}
@media (max-width: 530px){
    .skills{
        width: 280px;
    }
}
@media (max-width: 400px)
{
    .skills{
        width: 220px;
    }
}