@import url(container2.css);
@import url(skills.css);
@import url(project.css);
@import url(form.css);
@import url(footer.css);
:root{
    --colorBlue : #060E2C;
    --colorYellow : #f7e22c;
}
html{
    font-size: 1rem;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.container{
    position: relative;
    background-image: url('./images/Group\ 41.png');
    background-size: cover;
    background-position: center;
    width: 100vw;
}
.container-1{
    position: relative;
    margin-top: -1.4rem;
    width: 80vw;
    left: 50%;
    transform: translateX(-50%);
}
nav{
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
}
nav h1{
    margin-top: 0.7rem;
    font-size: 1.6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 4px;
    color: white;
}
nav ul{
    display: flex;
    font-family: sans-serif;
    margin-top: 1.2rem;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    padding: 12px 30px;
    /* background-color: red; */
    margin: 0 10px;
    position: relative;
    /* color: rgb(6, 138, 199); */
    color: white;
    font-weight: 550;
}
nav ul li a::before{
    content: "";
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-top: 3px solid rgb(3, 248, 248);
    border-left: 3px solid rgb(3, 248, 248);
}
nav ul li a::after{
    content: "";
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    border-bottom: 3px solid rgb(3, 248, 248);
    border-right: 3px solid rgb(3, 248, 248);
}
nav ul li a:hover:before{
    width: 15%;
    height: 30%;
    border-top: 3px solid yellow;
    border-left: 3px solid yellow;
}
nav ul li a:hover:after{
    width: 15%;
    height: 30%;
    border-bottom: 3px solid yellow;
    border-right: 3px solid yellow;
}
nav ul li:hover a{
    color: white;
}

nav ul .resume a{
    color: var(--colorYellow);
    font-weight: 600;
}
nav .fa-bars{
    background-color: rgba(255, 241, 241, 0.4);
    position: absolute;
    top: 2.5rem;
    right: 0rem;
    font-size: 1.1rem;
    padding: 0.5rem;
    border-radius: 11px;
    color: rgba(0, 0, 0, 0.514);
    cursor: pointer;
    display: none;
}
nav .fa-bars:hover{
    background-color: rgba(138, 138, 138, 0.6);
    color: white;
}
.about-container{
    position: relative;
    margin-top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.2);
    width: clamp(54vw, 20vh, 80vw);
    border-radius: 24px;
    padding: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    backdrop-filter: blur(10px);
}
.about-container img{
    width: 250px;
    height: 320px;
    border-radius: 24px;
    object-fit: cover;
    object-position: top;
}
.flex-2{
    margin-top: 1rem;
}
.flex-2 .info{
    line-height: 1.2rem;
}
.flex-2 .info h3{
    font-size: clamp(1.5rem, 2vh, 2rem);
    color: rgb(26, 26, 70)
}
.flex-2 .info h1{
    font-size: clamp(2.3rem, 2vh, 3rem);
    color: var(--colorYellow);
}
.flex-2 .info h1 span{
    color: white;
}
.flex-2 .info p{
    color: white;
    width: clamp(330px, 50vh, 500px);
    font-size: clamp(0.8rem, 2vh, 1.3rem);
    line-height: 1.5rem;
}
.flex-2 .info button{
    border: none;
    outline: none;
    padding: 0.7rem 1.5rem;
    background-color: rgb(4, 133, 192);
    position: relative;
    margin-left: 0.5rem;
}
.flex-2 .info button::before{
    content: "";
    position: absolute;
    transition: 0.3s;
    top: -0.4rem;
    left: -0.4rem;
    width: 105%;
    height: 105%;
    border-top: 3px solid rgb(6, 138, 199);
    border-left: 3px solid rgb(6, 138, 199);
}
.flex-2 .info button::after{
    content: "";
    position: absolute;
    transition: 0.3s;
    bottom: -0.4rem;
    right: -0.4rem;
    width: 105%;
    height: 105%;
    border-bottom: 3px solid rgb(6, 138, 199);
    border-right: 3px solid rgb(6, 138, 199);
}
.flex-2 .info button:hover::before,
.flex-2 .info button:hover:after{
    width: 15%;
    height: 35%;
}
.flex-2 .info button a{
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
}
.social{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}
.social i{
    color: black;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0.5rem;
    border-radius: 50%;
    margin: 0.3rem;
    border: none;
    outline: none;
}
.bubbles img{
    position: relative;
    width: clamp(5px, 6vh, 120px);
    animation: bubble 20s linear infinite;
}
.bubbles{
    position: absolute;
    bottom: 1.5%;
    width: 90vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 0.5;
}
@keyframes bubble {
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: translateY(-500vh);
        opacity: 0;
    }
}
.bubbles img:nth-child(1){
    animation-delay: 2s;
}
.bubbles img:nth-child(2){
    animation-delay: 1s;
}
.bubbles img:nth-child(3){
    animation-delay: 6s;
}
.bubbles img:nth-child(4){
    animation-delay: 8.5s;
}
.bubbles img:nth-child(5){
    animation-delay: 4s;
}
.bubbles img:nth-child(6){
    animation-delay: 8s;
}
.bubbles img:nth-child(7){
    animation-delay: 6s;
}

@media (max-width: 1024px) {
    nav h1{
        font-size: 1.3rem;
    }
    nav ul li{
        font-size: 0.8rem;
    }
    nav ul li a{
        padding: 10px 10px;
    }
    .about-container{
        padding: 1rem;
        width: 680px;
        justify-content: space-around;
    }
    .about-container img{
        width: 180px;
        height: 260px;
    }
    .flex-2 .info{
        margin-left: 1rem;
    }
    .flex-2 .info h3{
        font-size: 1.2rem;
    }
    .flex-2 .info h1{
        font-size: 1.6rem;
    }
    .flex-2 .info p{
        font-size: 0.8rem;
    }
    .flex-2 .info button{
        font-size: 0.7rem;
    }
    .social i{
        font-size: 0.8rem;
    }
}
@media (max-width: 768px) {
    nav{
        
        justify-content: space-between;
        /* background-color: red; */
    }
    nav ul{
        display: none;
        position: absolute;
        top: 5rem;
        right: 5rem;
        flex-direction: column;
        background-color: rgba(138, 138, 138, 0.1);
        border-radius: 24px;
        backdrop-filter: blur(10px);
        z-index:1;
        padding: 1.3rem;
        border: 2px solid white;
    }
    nav ul li{
        margin: 1.3rem 1rem;
        font-size: 1rem;
        width: 100px;
        text-align: center;
        padding: 10px 0;
        position: relative;
    }
    nav ul li a{
        position: absolute;
        top: -1rem;
        left: -0.7rem;
        width: 100%;
        margin: 4px 0;
        color: white;
    }
    nav ul li a::before{
        border: none;
        width: 2%;
        height: 20%;
    }
    nav ul li a::after{
        border: none;
        width: 2%;
        height: 20%;
    }
    nav .fa-bars{
        display: block;
    }
    nav ul.active{
        display: block;
    }
    .about-container{
        padding: 1rem;
        width: 500px;
        justify-content: space-around;
    }
    .about-container img{
        width: 170px;
        height: 260px;
    }
    .flex-2 .info{
        margin-left: 1rem;
    }
    .flex-2 .info h3{
        font-size: 1.2rem;
    }
    .flex-2 .info h1{
        font-size: 1.6rem;
    }
    .flex-2 .info p{
        font-size: 0.8rem;
    }
    .flex-2 .info button{
        font-size: 0.7rem;
    }
    .social i{
        font-size: 0.8rem;
    }
}
@media (max-width: 600px) {
    .about-container{
        display: grid;
        width: 345px;
    }
    .about-container img{
       margin: auto;
       height: 230px;
    }
    /* nav h1{
        margin-left: clamp(-20rem, 30vh, -25rem);
    } */
    .flex-2 .info button{
        font-size: 0.6rem;
        padding: 0.8rem 1.3rem;
    }
    .social{
        bottom: 1rem;
    }
    .social {
        font-size: 0.8rem;
    }
    .flex-2 .info{
        line-height: 0.5rem;
    }
    .flex-2 .info p{
        line-height: 1rem;
    }
    nav .fa-bars{
        display: block;
    }
    nav ul.active{
        display: block;
    }
}
@media (max-width:530px) {
    .about-container{
        width: 310px;
    }
    nav ul{
        right: 2rem;
    }
    .flex-2 .info h3{
        font-size: clamp(1.3rem, 2vh, 2rem);
    }
    .flex-2 .info h1{
        font-size: clamp(1.6rem, 2vh, 2.5rem);
    }
    .flex-2 .info p{
        font-size: clamp(0.6rem, 2vh, 0.8rem);
        width: clamp(290px, 30vh, 330px);
    }
    .social i{
        font-size: 0.6rem;
        margin-bottom: -0.3rem;
    }
}
@media (max-width:400px) {
    .about-container{
        /* width: clamp(55vw, 30vh, 60vw); */
        width: 250px;
        margin-top: 2rem;
    }
    .about-container img{
        height: 200px;
    }
     nav ul{
         right: 1rem;
     }
    .flex-2 .info{
        line-height: 0.7rem;
    }
    .flex-2 .info h3{
        font-size: 1rem;
    }
    .flex-2 .info h1{
        font-size: 1.3rem;
    }
    .flex-2 .info p{
        font-size: 0.7rem;
        width: 250px;
        line-height: 1rem;
    }
    .social i{
        font-size: 0.6rem;
        margin-bottom: -0.5rem;
    }
}