@import url(style1.css);

:root{
    --colorBlue : #060E2C;
    --colorYellow : #f7e22c;
}
html{
    font-size: 1rem;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    position: relative;
    margin-top: -1.3rem;
}
.container-1{
    position: absolute;
    top: 0;
    background-image: url('./images/Group\ 4.jpg');
    background-size: cover;
    background-position: top;
    width: 100vw;
    padding-bottom: 2rem;
}
nav{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1.5rem;
}
nav h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: clamp(1.3rem, 2vh, 1.8rem);
    font-weight: 700;
    letter-spacing: 3px;
    color: white
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    margin: 1rem 1.3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
nav .fa-bars{
    background-color: rgba(138, 138, 138, 0.4);
    position: absolute;
    top: 1.6rem;
    right: 10rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 11px;
    color: rgba(255, 255, 255, 0.514);
    cursor: pointer;
    display: none;
}
nav .fa-bars:hover{
    background-color: rgba(138, 138, 138, 0.6);
    color: white;
}
.about-container{
    position: relative;
    margin-top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.2);
    width: clamp(54vw, 20vh, 80vw);
    border-radius: 24px;
    padding: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.about-container img{
    width: 250px;
    height: 320px;
    border-radius: 24px;
    object-fit: cover;
    object-position: top;
}
.flex-2{
    margin-top: 1rem;
}
.flex-2 .info{
    line-height: 1.2rem;
}
.flex-2 .info h3{
    font-size: clamp(1.5rem, 2vh, 2rem);
    color: rgb(26, 26, 70)
}
.flex-2 .info h1{
    font-size: clamp(2.3rem, 2vh, 3rem);
    color: var(--colorYellow);
}
.flex-2 .info h1 span{
    color: white;
}
.flex-2 .info p{
    color: white;
    width: clamp(330px, 50vh, 500px);
    font-size: clamp(0.8rem, 2vh, 1.3rem);
    line-height: 1.5rem;
}
.flex-2 .info button{
    outline: none;
    border: none;
    padding: 1rem 2rem;
    background-color: var(--colorYellow);
    border-radius: 24px;
    font-weight: 600;
    letter-spacing: 1px;
}
.flex-2 .info button a{
    color: white;
    text-decoration:none;
}
.social{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}
.social i{
    color: black;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0.5rem;
    border-radius: 50%;
    margin: 0.3rem;
    border: none;
    outline: none;
}

@media (max-width: 768px) {
    ul li{
        display: none;
    }
    .about-container{
        display: grid;
    }
    .about-container img{
       margin: auto;
       height: 300px;
    }
    nav h1{
        margin-left: -10rem;
    }
    .flex-2 .info button{
        font-size: 0.6rem;
        padding: 0.8rem 1.3rem;
    }
    .social{
        bottom: 1rem;
    }
    .social {
        font-size: 0.8rem;
    }
    .flex-2 .info{
        line-height: 0.5rem;
    }
    .flex-2 .info p{
        line-height: 1rem;
    }
}
@media (max-width:530px) {
    .about-container{
        width: 280px;
    }
    nav h1{
        margin-left: -5rem;
    }
    .flex-2 .info h3{
        font-size: clamp(1.3rem, 2vh, 2rem);
    }
    .flex-2 .info h1{
        font-size: clamp(1.6rem, 2vh, 2.5rem);
    }
    .flex-2 .info p{
        font-size: clamp(0.6rem, 2vh, 0.8rem);
        width: clamp(290px, 30vh, 330px);
    }
    .social i{
        font-size: 0.6rem;
        margin-bottom: -0.3rem;
    }
}
@media (max-width:400px) {
    .about-container{
        /* width: clamp(55vw, 30vh, 60vw); */
        width: 220px;
        margin-top: 2rem;
    }
    .about-container img{
        height: 200px;
    }
     nav h1{
         margin-left: -2rem;
     }
    .flex-2 .info{
        line-height: 0.7rem;
    }
    .flex-2 .info h3{
        font-size: 1rem;
    }
    .flex-2 .info h1{
        font-size: 1.3rem;
    }
    .flex-2 .info p{
        font-size: 0.7rem;
        width: 250px;
        line-height: 1rem;
    }
    .social i{
        font-size: 0.6rem;
        margin-bottom: -0.5rem;
    }
}