
.conatiner2{
    position: relative;
    background-color: rgba(6, 41, 68);
    width: 100vw;
    display: flex;
    justify-content: center;
}
.about-container2{
    margin-top: 2rem;
    width: clamp(58vw, 20vh, 80vw);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 24px;
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    overflow: hidden;
    z-index: 1;
}
.about-text{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: var(--colorYellow);
    width: 100px;
    padding: 0.8rem 1.7rem;
    border-radius: 24px;
}
.info-text{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* width: clamp(420px, 60vh, 450px); */
}
.resume-button{
    background-color: rgba(226, 221, 221, 0.2);
    width: 135px;
    padding: 0.6rem 1.4rem;
    border-radius: 8px;
}
.resume-button a{
    color: white;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
}
.about-container2 img{
    -webkit-user-drag: 300px;
    height: 300px;
}

@media (max-width:768px) {
    .about-container2{
        display: grid;
    }
    .about-container2 img{
        margin: auto;
    }
}
@media (max-width: 530px) {
    .about-container2{
        width: 315px;
    }
}
@media (max-width: 400px) {
    .about-container2{
        width: 250px;
    }
    .about-text{
        font-size: 0.9rem;
    }
    .info-text{
        font-size: 0.8rem;
    }
    .about-container2 img{
        width: 240px;
        height: 240px;
    }
}